/*RESPONSIVE DE LA SECCION NAV*/
nav{
    height: 320px;
    justify-content: initial;
    text-align: center;
}

.navBar{
    flex-direction: column;
}
.navItem{
    padding: 5px;
}
.logInButton {
    margin-top: 0px;
}

/*RESPONSIVE DE LA SECCION HEADER*/

header{
    height: 500px;
    object-fit: cover;
}

.imgText{
    width: 100%;
    padding: 20px;
}

/*RESPONSIVE DEL POP UP*/

.popup{
    font-size: 10px;
}

.popup-content {
    width: 100%;
  }

.principalImg-popUp {
    width: 50%;
    height: 100%;
  }

/*RESPONSIVE DE LA SECCION NOSOTROS*/

.nosotrosSolutions_div {
  display: flex;
  flex-direction: column;
  background-color: var(--secondaryColorTwo);
  gap: 5%;
  color: #fff;
}
.nosotrosSolutions_div-text {
    width: 100%;
    text-align: center;
  }
.nosotrosSolutions_div-img{
    order: 3;
    width: 100%;
}
.nosotrosSolutions_div-text > h3 {
    margin-bottom: 3%;
    font-size: 150%;
  }
  
.nosotrosSolutions_div-text > p {
    font-size: 100%;
    margin-bottom: 15px;
}

.icon {
    height: 20%;
}

.plusIconkk > img {
    height: 25%;
}

.nosotrosOportunities_section {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 5px;
    color: #fff;
}

.bg1{
    width: 45%;
}
.bg2{
    width: 45%;
}
.bg3{
    width: 45%;
    padding-bottom: 15px;
}
.bg4{
    width: 45%;
}

/*RESPONSIVE SECCION NOTICIAS*/

.imgSlick{
    height: 400px;
}

.slickIcons{
    display: flex;
    width: 50%;
    float: left;
  }

.slick-icons-text{
    height: 20px;
    font-size: 15px;
}
.newsContainer{
    padding-left: 10px;
}

/*RESPONSIVE SECCION FOOTER*/

.footer-content{
    grid-template-areas: "a b c d";
    grid-template-columns: 15% 15% 40% 30%;
}

.footer-links{
    text-align: center;
}

.footer-logo{
    grid-area: a;
    margin: 10px;
}