:root {
  --primaryColor: #5227cc;
  --primarColorTwo: #7749f8;
  --secondaryColor: #1c78fd;
  --secondaryColorTwo: #5299ff;
  --volunteeringColor: #dc3545;
  --donatingColor: #ff9607;
  --recycleColor: #28a745;
  --laborCalls: #17a288;
}

body {
  background-color: #dc3545;
}

* {
  font-family: "DM Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.popup {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.popup-content {
  gap: 5px;
  display: flex;
  height: 60vh;
  width: 90vh;
  background: #fff;
  padding: 0.2%;
  border-radius: 5px;
  position: relative;
}

.principalImg-popUp {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 100%;
  height: 100%;
}

.register_div {
  width: 100%;
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.close-popup {
  position: absolute;
  top: 0;
  right: 0;
  width: 10%;
  height: 10%;
  cursor: pointer;
  transform: scale(50%);
}

.popup-title {
  text-align: center;
  justify-content: center;
  font-size: 90%;
  top: 15%;
  text-transform: uppercase;
  cursor: default;
}
.arrowBack {
  transform: rotate(-180deg);
}

.aText {
  color: #90979d;
  text-decoration: none;
  cursor: default;
}

.register-business {
  display: flex;
  height: 80px;
}
.register-business_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  background-color: var(--secondaryColorTwo);
}

.register-business_logo > img {
  transform: scale(40%);
}
.register-business_text > h3 {
  color: var(--secondaryColorTwo);
  text-transform: uppercase;
}

.register-organization {
  display: flex;
  gap: 5px;
  height: 80px;
}

.register-organization_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  background-color: var(--secondaryColorTwo);
}

.register-organization_text > h3 {
  color: var(--secondaryColorTwo);
  text-transform: uppercase;
}
