:root {
  --primaryColor: #5227cc;
  --primarColorTwo: #7749f8;
  --secondaryColor: #1c78fd;
  --secondarColorTwo: #5299ff;
  --volunteeringColor: #dc3545;
  --donatingColor: #ff9607;
  --recycleColor: #28a745;
  --laborCalls: #17a288;
}

* {
  font-family: "DM Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav{
  height: 100px;
}

.logo{
  float: left;
  margin: 20px;
}

.navBar{
  display: flex;
  list-style: none;
  height: 100px;
}

.navItem{
  float: left;
  margin: 5px;
  padding: 35px;
} 

.navItem:hover{
  background-color: var(--primarColorTwo);
}

.buttonContainer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  height: 100px;
}

.logInButton{
  background-color: var(--primaryColor);
  color: white;
  border-radius: 20px;
  border: none;
  height: 30px;
  width: 150px;
}

.logInButton:hover{
  cursor: pointer;  
}

header{
  position: relative;
}

header h1 {
  text-align: center;
  position: absolute;
  color: white;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
}

header p {
  text-align: center;
  position: absolute;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}