:root {
  --primaryColor: #5227cc;
  --primaryColorTwo: #7749f8;
  --secondaryColor: #1c78fd;
  --secondaryColorTwo: #5299ff;
  --volunteeringColor: #dc3545;
  --donatingColor: #ff9607;
  --recycleColor: #28a745;
  --laborCalls: #17a288;
}

* {
  font-family: "DM Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

nav {
  height: 100px;
}

.logo {
  float: left;
  margin: 20px;
}

.navBar {
  display: flex;
  list-style: none;
  height: 100px;
}

.navItem {
  float: left;
  margin: 5px;
  padding: 35px;
}

.navItem:hover {
  background-color: var(--primarColorTwo);
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  height: 100px;
}

.logInButton {
  background-color: var(--primaryColor);
  color: white;
  border-radius: 20px;
  border: none;
  height: 30px;
  width: 150px;
}

.logInButton:hover {
  cursor: pointer;
}

header {
  position: relative;
}

header h1 {
  text-align: center;
  position: absolute;
  color: white;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
}

header p {
  text-align: center;
  position: absolute;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.popup {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  
}

.popup-content {
  gap: 5px;
  display: flex;
  height: auto;
  width: 50%;
  background: #fff;
  padding: 0.2%;
  border-radius: 5px;
  position: relative;
  border-radius: 4%;
  animation: none;
}

@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.principalImg-popUp {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 50%;
  height: 50%;
  border-radius: 4%;
}

.register_div {
  width: 100%;
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.close-popup {
  position: absolute;
  top: 0;
  right: 0;
  width: 10%;
  height: 10%;
  cursor: pointer;
  transform: scale(50%);
}

.popup-title {
  text-align: center;
  text-transform: uppercase;
  cursor: default;
  margin-top: 8%;
}
.arrowBack {
  transform: rotate(-180deg);
}

.aText {
  color: #90979d;
  text-decoration: none;
  cursor: default;
}

.register-business {
  display: flex;
  height: 30%;
  margin: 5%;
  gap: 5px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #90979d;
}
.register-business_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 100%;
  gap: 5%;
  background-color: var(--secondaryColorTwo);
}

.register-business_logo > img {
  transform: scale(40%);
}
.register-business_text > h3 {
  color: var(--secondaryColorTwo);
  text-transform: uppercase;
  margin: 5%;
}

.register-business_text > p {
  margin: 5%;
}

.register-organization_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 100%;
  gap: 5%;
  background-color: var(--primaryColorTwo);
}

.register-organization_logo > img {
  transform: scale(40%);
}
.register-organization_text > h3 {
  color: var(--primaryColorTwo);
  text-transform: uppercase;
  margin: 5%;
}

.register-organization_text > p {
  margin: 5%;
}

.bannerNav {
  width: 100%;
}

.newsContainer{
  background-color: var(--secondaryColor);
  display: flex;
  height: 800px;
  color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.newsTitle {
  padding-top: 50px;
  font-size: 3rem;
}

.verTodoButton{
  padding-bottom: 60px;
}

.newsSlick{
  display: flex;
  width: 80%;
}

.imgSlick{
  width: 100%;
  height: 400px;
}

.slickContainers{
  background-color: white;
  color: black;
  height: 400px;
  width: 30%;
  margin-right: 1rem;
  padding: 10px;
}

.nosotrosSolutions_div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  background-color: var(--secondaryColorTwo);
  gap: 5%;
  color: #fff;
}

.nosotrosSolutions_div-img {
  width: 50%;
  height: 20%;
}

.nosotrosSolutions_div-img > img {
  height: 100%;
  width: 100%;
}
.nosotrosSolutions_div-text {
  width: 50%;
}

.nosotrosSolutions_div-text > h3 {
  margin-bottom: 3%;
  font-size: 200%;
}

.nosotrosSolutions_div-text > p {
  font-size: 120%;
}

.nosottrosOportunities {
  display: flex;
}

.nosotrosOportunities_text {
  text-align: center;
}
.nosotrosOportunities_section {
  display: flex;
  justify-content: space-around;
  color: #fff;
}

.sectionImg {
  display: flex;
  flex-direction: row;
  padding: 2%;
  width: 20%;
  border-radius: 5%;
}

.plusIconkk {
  display: flex;
  flex-direction: row-reverse;
}

.plusIconkk > img {
  height: 15%;
}

.sectionImg > p {
  display: flex;
  flex-direction: column-reverse;
  font-size: medium;
}

.nosotrosOportunities {
  display: flex;
  flex-direction: column;
  padding: 2%;
  gap: 20px;
}
.nosotrosOportunities_text > h3 {
  margin-bottom: 1%;
  margin-top: 1%;
}

.icon {
  height: 60%;
}

.bg1 {
  background-color: var(--volunteeringColor);
}

.bg2 {
  background-color: var(--donatingColor);
}

.bg3 {
  background-color: var(--recycleColor);
}

.bg4 {
  background-color: var(--laborCalls);
}

.contact {
  margin-top: 5%;
  display: grid;
  grid-template-areas: "a b";
  grid-template-columns: 50% 50%;
  gap: 1%;
}

.contact > img {
  grid-area: a;
  width: 80%;
  height: 60%;
  display: block;
  margin-left: auto;
  object-fit: cover;
  object-position: 0% 50%;
}

.contact > .contactForm {
  grid-area: b;
  width: 80%;
  text-align: center;
}

.contactForm > form {
  display: grid;
  grid-template-areas: "a b";
  grid-template-columns: 50% 50%;
  gap: 2%;
}

.contactInfo {
  grid-area: a;
  text-align: left;
}

.contactInfo > div > input {
  width: 100%;
  border-radius: 3px;
  box-shadow: 0.1em 0.1em gray;
}

.contactMessage {
  grid-area: b;
  text-align: left;
}

.contactMessage > textarea {
  width: 100%;
  border-radius: 3px;
  box-shadow: 0.1em 0.1em gray;
}

.contactForm > input {
  margin-top: 3%;
  background-color: var(--primaryColor);
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: medium;
  border-radius: 15px;
  color: white;
}

footer {
  background-color: var(--primaryColor);
  padding-top: 2%;
}

.footer-content {
  display: grid;
  grid-template-areas: "a b c d e" ;
  grid-template-columns: 15% 15% 40% 15% 15%;
}

.footer-social > img {
  width: 20%;
}

.footer-logo {
  grid-area: b;
}

.footer-links {
  grid-area: c;
}

.footer-links > ul {
  list-style: none;
  
}

.footer-links > ul > li {
  margin: 1%;
  
}

.footer-links > ul > li > a {
  text-decoration-line: none;
  color: white;
}

.footer-social {
  grid-area: d;
  color: white;
}

.footer-end {
  height: 20px;
}

footer > hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}